{% extends "base.html" %}
{% load i18n label_tags %}
{% block main %}
    <h2>Languages</h2>

    {% trans "Current language" %}: {% get_current_language as LANGUAGE_CODE %}
    {{ LANGUAGE_CODE }}
    <h3>{% trans "Form" %}</h3>
    {% include "setlang_form.html" %}
    <h3>{% trans "Links (via js)" %}</h3>
    {% include "setlang_href.html" %}

    <h2>{% trans "Profile" %} / {% trans "Login" %}</h2>

    {% if user.is_authenticated %}
        <p>{% trans "Logout" %}</p>
        <a href='{% url logout %}'>logout</a>
        <p>Profile</p>
        <a href='{% url profile %}'>profile</a>
        <p>Change password</p>
        <a href='{% url change_password %}'>change password</a>
    {% else %}
        <p>{% trans "Login" %}</p>
        <a href='{% url login %}'>login</a>
    {% endif %}
    <h2>xcore labels</h2>
    <div style="padding-left: 20px; background-color: #e0ffff;">
        <h3 style="color: #DF1F72;">Font list</h3>

        <h3>{{ 'Font list'|labelize:"class=default" }}</h3>
        <hr/>
        <h4>{{ 'Futura BoldBT'|labelize:"color=#DF1F72&font=Futura_BoldBT" }}</h4>
        <h4>{{ 'GeosansLight'|labelize:"font=GeosansLight" }}</h4>

        <h4>{{ 'Light up theWorld'|labelize:"font=Light_up_the_World" }}</h4>
        <h4>{{ 'College Font'|labelize:"font=College" }}</h4>
        <h4>{{ 'Varsity Regular'|labelize:"font=varsity_regular" }}</h4>
        <h4>{{ 'Caviar Dreams'|labelize:"font=CaviarDreams" }}</h4>
        <h4>{{ 'Caviar Dreams Bold'|labelize:"font=CaviarDreams_Bold" }}</h4>
        <h4>{{ 'Sweet Home Oklahome'|labelize:"font=SweetHomeOklahoma" }}</h4>
        <h4>{{ 'Puritan 2 Bold'|labelize:"font=Puritan2Bold" }}</h4>
        <h4>{{ 'Consola Mono'|labelize:"font=ConsolaMono" }}</h4>
    </div>
{% endblock %}