{% extends "base.html" %}

{% block title %} Log in {% endblock %}

{% block main %}

<h2>Login</h2>
  {% if form.errors %}
    <p class="error"><a>Sorry, that's not a valid username or password</a></p>
  {% endif %}

<p>
  <form id="login-form" action='' method='post'>
  	{% csrf_token %}
       <p><label class="login" for="username"><a>Username:</a></label><input type="text" name="username" value="" id="username"></p>
       <p><label class="login" for="password"><a>Password:</a></label><input type="password" name="password" value="" id="password"></p>
       <p class="submit">
          <input class="login" type="submit" value="Log in" />
          <input class="login" type="hidden" name="next" value="{{ next|escape }}" />
       </p>
  </form>
</p>
<script type="text/javascript">
document.getElementById('username').focus()
</script>
<p><a>Forgotten the password? </a><a href="/resetpw">Reset password</a></p>
<p><a>Not yet an account? </a><a href="/register">Please register</a></p>

{% endblock %}
